.projectBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 500px;
}

.slideWhole {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.displayBox {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    font-size: 32px;
    white-space: nowrap;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 15px;
}

.checkBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
