.projectContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;

}

.passwordGenerator {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.slideWhole {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.displayBox {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    font-size: 32px;
    white-space: nowrap;
}

.checkBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 15px;
    border: solid black 2px;
    padding: 10px;
}

.checkBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.passwordContents {
    padding: 25px;
}
